<!-- <app-stock-records1></app-stock-records1> -->
<!-- <h1>Stock Details</h1>
<app-stock-records2></app-stock-records2> -->


<!-- <ul>
    <button ><a routerLink="admin/login">login</a></button>
    <button ><a routerLink="admin/list">list</a></button>
</ul>
<router-outlet></router-outlet> -->


<h1>{{slogan}}</h1>
<h1>{{getSlogan()}}</h1>
------------------------------
<hr>
<button (click)="onClick()">click me i will show you something which will make u happy!!</button>
<div [hidden]="display"><p>heyyyy!! you clicked the button ur a genious</p></div>
------------------------------
